# Dependencies
node_modules/
.pnpm-store/

# Build & Production outputs
dist/
dist-ssr/
build/
out/
.output/
*.tsbuildinfo

# Development & Tooling Caches
.cache/
.vite/
.eslintcache
.parcel-cache/

# Environment Files & Secrets
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
.env.*.local
*.env

# Deployment Services
.vercel/
.netlify/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor & IDE Settings
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# OS / System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

